<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список</title>
</head>
<body>


    {% block content %}
    <a href="base"><h1>Добро пожаловать в Интернет-магазин мебели</h1></a>
    {% endblock %}

<li>Список типов мебели:</li>
<h1>Мягкая мебель</h1>
<h2>Шкафы-купе</h2>
<h3>Мебель для спальни</h3>
<h4>Мебель для гостиной</h4>
<h5>Кухонная мебель</h5>
<h6>Офисная мебель</h6>



</body>
</html>